@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fillFromSides {
  from {
    background-color: #1A6F70;
    color: white;
    border: 3px #80F0F2 solid;
  }
  to {
    background-color: #27D9AA;
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
header {
  background-color: #1A6F70;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
header div.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0px auto auto;
  animation: zoomIn 0.5s ease-in-out;
}
header div.title p {
  font-size: 70px;
  color: white;
  transition: color 0.3s ease-out;
}
header div.title p:hover {
  animation: rainbow 2s linear infinite;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  flex-direction: row;
  margin: 15px;
}
header nav .nav_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 15%;
  height: 40px;
  cursor: pointer;
  margin: 0px 15px;
  background-color: #80F0F2;
  border-radius: 15px;
  color: #1A6F70;
  border: 3px #27D9AA solid;
  animation: zoomIn 1s ease-in-out;
  transition: background-color 0.3s ease-out;
}
header nav .nav_button:hover {
  background-color: #1A6F70;
  color: white;
  border: 3px #80F0F2 solid;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
main {
  width: 100%;
  position: relative;
}
main div.text_square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  background: white;
  margin: 10px auto 5px auto;
  border: #1A6F70 solid 5px;
  border-radius: 15px;
  padding: 5px;
  animation: zoomIn 1s ease-in-out;
  min-height: 200px;
  font-size: 40px;
  font-weight: 700;
  animation: zoomIn 1.25s ease-in-out;
}
main div.text_square span {
  margin: 5px 5px;
  padding: 10px;
  position: relative;
  left: 0;
  top: 0;
}
main div.text_square span.active {
  background: gray;
  border-radius: 5px;
  color: white;
}
main div.text_square span.wrong {
  background: red;
  animation: wrong 0.1s 3 forwards;
}
main div.text_square span.correct {
  background: green;
  animation: correct 0.1s ease-in-out 2;
}
@keyframes wrong {
  from {
    left: 0;
  }
  to {
    left: 5px;
  }
}
@keyframes correct {
  from {
    top: 0;
  }
  to {
    top: 5px;
  }
}
main div.main_Input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main div.main_Input input {
  width: 45%;
  height: 80px;
  margin: auto;
  border: #1A6F70 solid 2px;
  border-radius: 15px;
  text-align: center;
  font-size: 35px;
  outline: none;
  animation: zoomIn 1.45s ease-in-out;
}
main div.settings_Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}
main div.settings_Buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 5%;
  height: 40px;
  border-radius: 15px;
  border: #1A6F70 solid 3px;
  margin: 0px 5px;
  background-color: #37ECEF;
  color: #1A6F70;
  cursor: pointer;
  animation: zoomIn 1.6s ease-in-out;
  transition: background-color 0.5s ease-out;
}
main div.settings_Buttons div:hover {
  background-color: #1A6F70;
  color: white;
  border: 3px #37ECEF solid;
}
main div.settings_Buttons div.timer_Buttton {
  font-size: 25px;
  font-weight: 700;
}
main div.settings_Buttons div.reset_Buttton {
  font-size: 30px;
}
main div.settings_Buttons div.eye_Button {
  font-size: 30px;
  /* i.fa-eye{
      display: flex;
  } */
  /*  i.fa-eye-slash{
       display: none;
   } */
}
main div.score_Square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main div.score_Square div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 4%;
  height: 40px;
  border-radius: 15px;
  border: #1A6F70 solid 2px;
  margin: 0px 5px;
  background-color: #37ECEF;
  color: #1A6F70;
  animation: zoomIn 1.75s ease-in-out;
}
main div.score_Square div.correct_Square p {
  color: #0FC542;
  font-size: 25px;
  font-weight: 700;
}
main div.score_Square div.wrong_Square p {
  color: #FF0000;
  font-size: 25px;
  font-weight: 700;
}

.d-none {
  display: none !important;
}

.puntuacion {
  font-size: 20px;
  display: inline-block;
  color: white;
  font-weight: bolder;
  padding: 20px 40px;
  background-color: green;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  animation: floating 1s ease-in-out infinite alternate;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  text-transform: uppercase;
}

@keyframes floating {
  from {
    top: 20px;
  }
  to {
    top: 30px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: #80F0F2;
}/*# sourceMappingURL=style.css.map */